/* Main Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    color: #333333;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    font-size: 28px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
 }
 
 h3 {
    color: #2c3e50;
    font-size: 20px;
    margin-top: 20px;
 }
 

p {
    font-size: 14pt;
    color: #2c3e50;
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #2c3e50;
    text-decoration: underline;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

a:active {
    color: #064414;
    text-decoration: underline;
}

/* Header and Footer */
header h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    font-size: 16px;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #f1faee;
    font-size: 14px;
}

/* Larger text size for accessibility */
.large-text {
    font-size: 14pt; /* Increase this value as needed for readability */
}

/* Optional: adjust headings and other text if needed */
.large-text h1 {
    font-size: 40px;
}

.large-text h2 {
    font-size: 32px;
}

.large-text p {
    font-size: 16pt;
}

/* Navigation Bar */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #34495e;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-link {
    margin-right: 20px;
}

.logo {
    width: 50px;
    height: auto;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    padding: 15px;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
}

nav ul li:hover {
    background-color: #f1f1f1;
}

nav ul li a:hover {
    color: #2c3e50;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Accessibility Button Styling */
.accessibility-container {
    text-align: center;
    margin-top: 20px;
}

.accessibility-button {
    background-color: #e74c3c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.accessibility-button:hover {
    background-color: #e74c3c;
}

/* Large Text Mode */
.large-text {
    font-size: 16pt;
}

/* Accessible Colorblind Mode */
.colorblind-mode {
    background-color: #f0f0f0;
    color: #333;
}

/* Centered Container for Buttons */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

/* Audio Styling */
.media-container {
    margin-top: 20px;
    text-align: center;
}

.media-container audio {
    display: block; /* Ensures audio control takes up full width and aligns with button */
    margin: 0 auto; /* Centers the audio control */
}

/* Audio Citaion Styling */
.citation-button {
    background-color: #34495e;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.citation-button:hover {
    background-color: #555;
}

.audio-citation {
    font-size: 12pt;
    color: #2c3e50;
    margin-top: 10px;
    text-align: center;
}


/* Profile Image Styling */
.container {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

#profileImage, #img1 {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s;
    border-radius: 50%;
}

/* Gallery Styling */
.image-accessibility {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

.image-item {
    text-align: center;
    width: 200px;
}

.gallery-image {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.caption {
    font-size: 12pt;
    color: #2c3e50;
    margin-top: 8px;
}

/* Button Styling */
button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14pt;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
    color: #eeee;
}

.survey-button {
    background-color: #e74c3c;
    color: white;
}

.survey-button:hover {
    background-color: #21618c;
}

.description-button {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    font-size: 10pt;
    margin-top: 10px;
}

.description-button:hover {
    background-color: #2980b9;
}

/* Form Styling */
#surveyForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 14pt;
    color: #333;
}

#surveyForm h2 {
    font-size: 28px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
}

#surveyForm label {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 8px;
}

#surveyForm input[type="text"],
#surveyForm input[type="email"],
#surveyForm input[type="number"],
#surveyForm textarea,
#surveyForm select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14pt;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
    max-width: 600px;
}

#surveyForm input[type="text"]:focus,
#surveyForm input[type="email"]:focus,
#surveyForm textarea:focus,
#surveyForm select:focus {
    border-color: #2980b9;
    outline: none;
}

/* Radio and Checkbox Styling */
#surveyForm input[type="radio"],
#surveyForm input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

/* Submit and Clear Buttons */
#surveyForm button[type="button"],
#surveyForm button[type="reset"] {
    padding: 12px 20px;
    font-size: 14pt;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#surveyForm button[type="reset"] {
    background-color: #e74c3c;
    color: white;
    margin-left: 10px;
}

#surveyForm button[type="reset"]:hover {
    background-color: #21618c;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #3a4fae;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f7f6;
    color: rgb(12, 26, 47);
    font-weight: bold;
}

td {
    background-color: #f4f7f6;
}

/* Responsive Styling */
@media (max-width: 600px) {
    .container,
    .image-accessibility {
        flex-direction: column;
        padding: 10px;
    }
}

/* Logo Styling*/
i {
    font-size: 24px;
    color: #E4405F; /* Instagram's primary color */
    margin-right: 8px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #C13584; /* Instagram hover color */
}
